.venv/
venv/
templates
*.ipynb
__pycache__/
unsloth_compiled_cache/
*.pyc
*.pyo
*.log
.env
weights/*
!weights/.gitkeep
!weights/**/.gitkeep
models/*
!models/.gitkeep
!models/**/.gitkeep
logs/*
!logs/.gitkeep
*.pt
*.pth
*.onnx
*.safetensors
.DS_Store
